.errorbox{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;

}

.errorbox__contenedor{
  position:relative;
  width: 900px;
  height: 600px;
  background-color: black;
  margin: 40px;
}

.errorbox__contenedor:before{
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: white;
  z-index: -1;
  background: linear-gradient(235deg, red, #010615, red)
}

.errorbox__contenedor:after{
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: white;
  z-index: -2;
  filter: blur(40px);
  background: linear-gradient(235deg, red, #010615, red)
}


.errorbox__contenedor .errorbox__vidrio{
  position:absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: block;
  background-color: rgba(255, 255, 255, .1);
  pointer-events: none;
}

.errorbox__contenedor .errorbox__contenido{
  padding: 20px;
  color: white;
  text-align: center;
}

.errorbox__contenedor .errorbox__contenido .errorbox__contenido--h1{
  font-size: 50px;
  padding-bottom: 70px;
  padding-top: 20px;
}
.errorbox .errorbox__contenido .errorbox__contenido--p{
  font-size: 20px;
}

.errorbox .errorbox__contenido .errorbox__contenido--a{
  font-size: 20px;
  padding-top: 20px;
  text-decoration: underline;
  color: white;
}