/*Maps y universal*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

#background {
  background-color: darkred; }

/*Nav*/

.nav2 {
  background-color: darkred; }

nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  font-size: 0; }

nav ul ul {
  position: absolute;
  display: none;
  background-color: transparent;
  margin-left: -30px; }

nav ul ul li {
  display: block;
  width: 230px;
  margin-top: 5px;
  background-color: darkred; }

nav ul li:hover {
  background-color: #BB0000; }

nav ul li:hover ul {
  display: block;
  z-index: 1; }

nav li {
  position: relative;
  text-align: center;
  font-size: 16px;
  padding: 20px 20px;
  line-height: 7px;
  list-style: none;
  font-weight: bold; }

nav a {
  text-decoration: none;
  color: white; }

.nav__desplegable {
  margin-top: 30px; }


/*Contenido*/
.Content {
  background-color: darkred;
  text-align: center;
  color: white; }

.Content__titulo{
  font-size: 45px;
  padding: 25px 20%; }

.Content__texto {
  font-size: 16px;
  padding-bottom: 40px; }

.Content__texto a{
  text-decoration: underline;
  color: white; }

.Content--blanco {
    color: white; }

.Content__flex {
  background-color: darkred;
  text-align: center;
  color: white;
  display: flex;
  padding: 25px 15%;
  align-items: center;
  font-size: 16px;
  border-bottom: 3px solid black; }

.Content__flex img:hover {
  transition: 1s;
  transform: scale(1.05); }

.Content__flex div {
  padding: 10px; }

.Content__imagenMuestra {
  padding: 4px;
  background-color: black;
  border: 1px solid white;
  object-fit: cover; 
  border-radius: 4px;
  height: auto;
  width: 400px; }

.Content__cards {
  display: flex; 
  justify-content: space-around; 
  margin: 0 15% 50px 15%; }

.card:hover {
  transition: 2s;
  transform: scale(1.05); }

/*Pagina de error 404*/
.errorbox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black; }

.errorbox__contenedor {
  position: relative;
  width: 900px;
  height: 600px;
  background-color: black;
  margin: 40px; }

.errorbox__contenedor:before {
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: white;
  z-index: -1;
  background: linear-gradient(235deg, red, #010615, red); }

.errorbox__contenedor:after {
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: white;
  z-index: -2;
  filter: blur(40px);
  background: linear-gradient(235deg, red, #010615, red); }

.errorbox__contenedor .errorbox__vidrio {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none; }

.errorbox__contenedor .errorbox__contenido {
  padding: 20px;
  color: white;
  text-align: center; }

.errorbox__contenedor .errorbox__contenido .errorbox__contenido--h1 {
  font-size: 50px;
  padding-bottom: 70px;
  padding-top: 20px; }

.errorbox .errorbox__contenido .errorbox__contenido--p {
  font-size: 20px; }

.errorbox .errorbox__contenido .errorbox__contenido--a {
  font-size: 20px;
  padding-top: 20px;
  text-decoration: underline;
  color: white; }

/*Carrusel*/
.Carrusel {
  text-align: center;
  color: white; }

#Carrusel--next {
  background-color: transparent; }

#Carrusel--prev {
  background-color: transparent; }

#Carrusel--secuencia {
  background-color: transparent; }


/*Footer*/
.Footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 20px; }

.Footer__text {
  background-color: black; }


/*Galeria de imagenes*/
.Galeria {
  background-color: darkred;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: 120px;
  color: white;
  padding: 25px 15%; }

.Galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.Galeria__img:hover {
  transition: 1s;
  transform: scale(1.05); }

.Galeria__img:first-child {
  grid-column: 1/3;
  grid-row: 1/3; }

/*Animacion*/

.Under-1 {
  font-size: 40px;
  animation-name: aparecer;
  animation-duration: 2.5s;
  color: white;
  text-align: center; }

.Under-2 {
  font-size: 35px;
  animation-name: aparecer;
  animation-duration: 4.5s;
  color: white;
  text-align: center; }

.Under-3 {
  font-size: 30px;
  animation-name: aparecer;
  animation-duration: 6.5s;
  color: white;
  text-align: center; }

.Under-4 {
  font-size: 25px;
  animation-name: aparecer;
  animation-duration: 8.5s;
  color: white;
  text-align: center; }

.Under-5 {
  font-size: 20px;
  animation-name: aparecer;
  animation-duration: 10.5s;
  color: white;
  text-align: center; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }



@media screen and (min-width: 1024px) and (max-width: 1400px) {

/* Content*/ 

.Content__cards {
  flex-wrap: wrap; }

.card{
  margin: 15px 15px; }

.Content__texto {
  font-size: 18px;
  padding: 0 20% 15px 20%; }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

/* NAV */

nav li {
  font-size: 14px;
  padding: 18px 18px; }

nav ul ul {
  margin-left: -18px; }

nav ul ul li {
  width: 180px; }

.nav__desplegable {
  margin-top: 25px; }

/* Content*/ 

.Content__titulo{
  font-size: 36px;
  padding: 25px 20%; }

.Content__texto {
  font-size: 18px;
  padding: 0 50px 15px 50px; }

.Content__flex {
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px 10%;
  font-size: 14px;}

.Content__imagenMuestra {
  width: 450px;}

.Content__cards {
  flex-wrap: wrap;}

.card{
  margin: 15px 15px;}
}

@media screen and (min-width: 320px) and (max-width: 767px) {

/* NAV */

nav li {
  font-size: 8px;
  padding: 14px 18px; }

nav ul ul {
  margin-left: -23px; }

nav ul ul li {
  width: 170px; }

.nav__desplegable {
  margin-top: 20px; }

/* Content*/ 

.Content__titulo{
  font-size: 24px;
  padding: 25px 20%; }

.Content__texto {
  font-size: 14px;
  padding: 0 25px 15px 25px; }

.Content__flex {
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px 10%;
  font-size: 14px; }

.Content__imagenMuestra {
  width: 350px; }

.Content__cards {
  flex-wrap: wrap; }
}
